.calculator {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}


.example-button-0 {
    display: grid;
    max-width: 600px;
   
  }

  .example-button-1 {
    display: grid;
    max-width: 600px;
   
  }

  .example-button-2 {
    display: grid;
    max-width: 600px;
  
  }

  .example-button-3 {
    display: grid;
    max-width: 600px;
    
  }

  .example-button-4 {
    display: grid;
    max-width: 600px;
   
  }

  .example-button-5 {
    display: grid;
    max-width: 600px;
   
  }

  .example-button-6 {
    display: grid;
    max-width: 600px;
    
  }

  .example-button-7 {
    display: grid;
    max-width: 600px;
    
  }

  .example-button-8 {
    display: grid;
    max-width: 600px; 
  }

  .example-button-9 {
    display: grid;
    max-width: 600px;
    
  }

  