<div class="calculator_area">
   
    <div class="calculator-display">
        {{ displayValue }}
    </div>
    <div class="button_0">
        <div fxLayout="column" fxLayoutGap="10px">
            <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="5px">
              <button fxFlex mat-raised-button >7</button>
              <button fxFlex mat-raised-button>8</button>
              <button fxFlex mat-raised-button>9</button>
              <button fxFlex mat-raised-button>C</button>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="5px">
              <button fxFlex mat-raised-button>4</button>
              <button fxFlex mat-raised-button>5</button>
              <button fxFlex mat-raised-button>6</button>
              <button fxFlex mat-raised-button>*</button>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="5px">
                <button fxFlex mat-raised-button>1</button>
                <button fxFlex mat-raised-button>2</button>
                <button fxFlex mat-raised-button>3</button>
                <button fxFlex mat-raised-button>+</button>
              </div>
            
            <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="5px">
                <button fxFlex mat-raised-button>0</button>
                <button fxFlex mat-raised-button>=</button>
                <button fxFlex mat-raised-button>AC</button>
            </div>
        </div>
            </div>
    </div>
    

<p> This is an example of a component</p>
